@import url("https://fonts.googleapis.com/css?family=Neucha|Raleway|Roboto+Condensed&display=swap");

body,
html {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background-color: #eeeeee;
}

.font-neucha {
  font-family: "Neucha", cursive;
}

.bg-left {
  background: white;
  color: #152238;
  height: 100vh;
  background-attachment: fixed;
  border-right: 20px solid#E1E1E1;
}

.bg-right {
  background: #152238;
  color: white;
  height: 100vh;
  background-attachment: fixed;
}

@media only screen and (max-width: 780px) {

  .bg-left,
  .bg-right {
    height: 100vh;
  }

  .bg-left {
    border-right: none;
    border-bottom: 20px solid #e1e1e1;
  }

  .put-down {
    margin-top: 5vh;
  }

  .put-down-2 {
    margin-top: 5vh;
  }
}

@media only screen and (min-width: 780px) {
  .put-down {
    margin-top: 22vh;
  }

  .put-down-2 {
    margin-top: 22vh;
  }
}

.fa-facebook {
  color: #3b5998;
  transition: all .2s ease-in-out;
}

.fa-twitter {
  color: #55acee;
  transition: all .2s ease-in-out;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all .2s ease-in-out;
}

.fa-linkedin {
  color: #0A66C2;
  transition: all .2s ease-in-out;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-twitter:hover {
  transform: scale(1.1);
}